* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
}

nav {
    padding: 10px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    background-color: black;
    color: whitesmoke;
}

.logo {
    display: flex;
}

.pre {
    color: goldenrod;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: goldenrod;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}

hr {
    border: none;
    border-top: 2px solid goldenrod;
}

main {
    height: calc(100vh - 75px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

/* Style for the movie result division */
.movie-result {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    background-color: #333;
}

/* Style for the movie poster */
.movie-poster {
    max-width: 150px;
    margin-right: 20px;
}

/* Style for the movie info */
.movie-info {
    flex-grow: 1;
}


#pagination button {
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #d4a017;
}
#pagination .active {
    background-color: #d4a017;
    color: black;
}
